@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/* box-sizing allows to inlcude teh padding and border in the total width and height*/
* {
  box-sizing: border-box;
  background-color: black;
}
/*header styling*/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: auto;
  height: auto;
  font-family: 'Balsamiq Sans', cursive;
}
.header h1{
  color: rgb(60, 148, 82);
  font-size: 50px;
}
.nav {
  width: 100%;
  text-align: center;
}
.header-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header-menu-link {
  color: rgb(60, 148, 82);
  background-color: black;
  padding: 10px;
  width: 30%;
  text-decoration: none;
}
.header-menu-link:hover {
  background-color: rgb(31, 53, 36);
  color: rgb(82, 201, 112);
}
.header-menu-link-center {
  color: rgb(60, 148, 82);
  padding: 10px;
  width: 40%;
  text-decoration: none;
}
.header-menu-link-center:hover {
  background-color: rgb(31, 53, 36);
  color: rgb(82, 201, 112);
}

.gallery {
  width: 100%;
}
.gallery img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
  margin-top: 10px;
  border-radius: 3px;
  transition: transform .2s;
}
.gallery img:hover {
  transform: scale(1.05);
}
.wrapper {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
  color: white;
  font-family: 'Comfortaa', cursive;
}
.factsaboutladybugs li{
  padding-bottom: 20px;
}
.footer {
  color: white;
  margin-top: 50px;
  bottom: 0;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

@media only screen and (min-width: 600px) {

  .header-menu {
    font-size: 25px;
  }
  
  .gallery {
    margin-top: 30px;
  }
  .wrapper {
    margin-top: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper p {
    font-size: 18px;
  }
  .wrapper ul li{
    font-size: 18px;
  }
  .factsaboutladybugs li{
    padding-bottom: 20px;
  }
  .footer {
    color: white;
    margin-top: 50px;
    bottom: 0;
    text-align: center;
    font-family: 'Comfortaa', cursive;
  }
}
