@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import "~react-image-gallery/styles/css/image-gallery.css";

/* box-sizing allows to inlcude teh padding and border in the total width and height*/
* {
  box-sizing: border-box;
  background-color: #ecd485;
}
.gallery {
  width: 100%;
  margin-top: 30px;
}
.image-gallery-icon {
  color: #2e4420;
}
.wrapper {
  margin: 50px 20px;
  text-align: left;
  color: #2e4420;
  font-family: 'Comfortaa', cursive;
}
.factsaboutladybugs li{
  padding-bottom: 20px;
}
.aboutartist img {
  display: block;
  width: 80%;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.socialmedia{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.socialmedia svg{
  height: 3em;
  width: 3em;
}
@media only screen and (min-width: 600px) {
  
  .gallery {
    margin-top: 30px;
  }
  .wrapper {
    margin-top: 50px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .wrapper p {
    font-size: 18px;
  }
  .wrapper ul li{
    font-size: 18px;
  }
  .aboutartist img {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  
  .gallery {
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper {
    margin-top: 70px;
    width: 60%;
  }
  .wrapper h3 {
    margin-top: 90px;
    font-size: 25px;
  }
  .wrapper p {
    text-align: left;
    font-size: 18px;
  }
  .wrapper ul li{
    font-size: 18px;
    text-align: left;
  }
  .aboutartist img {
    width: 40%;
  }
}
@media only screen and (min-width: 1800px) {

  .gallery {
    margin-top: 50px;
    width: 60%;
  }
  .wrapper p {
    text-align: left;
    font-size: 20px;
  }
  .wrapper ul li{
    font-size: 20px;
    text-align: left;
  }
  .aboutartist img {
    width: 30%;
  }
}
